:root{
    --primary-color: #007bff;
    --secondary-color: #e3e3e3;

    --primary-font: 'Roboto', sans-serif;
    --link-hover: #0056b3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
}

nav{
    background-color: var(--secondary-color);
    margin-bottom: 1em;
    padding: 1em;

    font-weight: bold;

    border-radius: .5em;
}

nav ul{
    display: flex;
    gap: 1em;
}

ul{
    list-style: none
}

nav a{
    color: var(--primary-color);

}

nav a:active{
    border-bottom: 2px solid var(--link-hover);
}
nav a:hover{
    color: var(--link-hover);
    border-bottom: 2px solid var(--link-hover);
}

section{
    margin-bottom: 2em;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

img{
    max-width: 80vw;
    max-height: 50vh;
    margin: 1em 0;
}

p{
    margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: .1em;
}
