<header>
  <nav>
      <ul>
          <li class="iconContainer">
              <a href="#WhoAmI"> <img src="./assets/icons/user.svg" alt="User Icon"></a>
          </li>
          <li class="iconContainer">
              <a href="#MyMusic"> <img src="./assets/icons/spotify.svg" alt="Spotify Icon"></a>
          </li>
          <li class="iconContainer">
              <a href="#MyLocation"> <img src="./assets/icons/location.svg" alt="Location Icon"></a>
          </li>
          <li class="iconContainer">
              <a href="#Socials"> <img src="./assets/icons/socials.svg" alt="Socials Icon"></a>
          </li>
      </ul>
  </nav>
  <section class="userInfo">
      <img src="./assets/" class="avatar" alt="avatar">
      <section>
          <h1> <%= user  %> <span>(26)</span> </h1>
          <p> Front-end Developer</p>
      </section>
  </section>
</header>