<header>
    <h1>Niels Aling Indivudual Website Minor Web</h1>
    <aside>
        <ul>
            <li class="iconContainer">
                <a href="#whoAmI"> <img src="./assets/icons/user.svg" alt="User Icon"></a>
            </li>
            <li class="iconContainer">
                <a href="#myMusic"> <img src="./assets/icons/spotify.svg" alt="Spotify Icon"></a>
            </li>
            <li class="iconContainer">
                <a href="#myLocation"> <img src="./assets/icons/location.svg" alt="Location Icon"></a>
            </li>
            <li class="iconContainer">
                <a href="#socials"> <img src="./assets/icons/socials.svg" alt="Socials Icon"></a>
            </li>
        </ul>
    </aside>
</header>