@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

:root{
    --background-color: #f5f5f5;

    --text-color-primary: #2d3142;
    --text-color-secondary: #4f5d75;

    --accent-color: #ef8354;
    --secondary-accent-color: #f5bca4;

    --font-family: 'Rajdhani', 'Roboto', Arial, sans-serif;
    --border-radius: .75rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    max-height: 100vh;

    background-color: var(--background-color);
    color: var(--text-color-primary);
}

header{
    position: fixed;
    height: 100%;
    width: 5em;
    background-color: var(--accent-color);
}

nav{
    display: none;
}

aside{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

h1{
    visibility: hidden;
    height: 0;
    width: 0;
}

h2{
    font-size: 4rem;
}

main{
    margin: 3em 0 0 5em;
    padding-left: 2em;
    display: flex;
    gap: 3em;
    max-width: calc(100vw - 5em);

    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main > section{
    scroll-margin-left: 2em;
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    min-width: calc(100vw - 8em);
    min-height: calc(100vh - 7em - 5em);
}

.sectionContent{
    display: flex;
    gap: 2em;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

footer{
    padding: 1em 3em 1em 8em;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials img{
    height: 2em;
    width: 2em;
}

.socials{
    display: flex;
    gap: 1em;
}

ul{
    list-style: none;
}

/* user info page */

.userData img{
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
}


/* aside / menu */
.iconContainer{
    border-radius: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .iconContainer{
    width: 25%;
}

.iconContainer a{
    height: min-content;
}

.iconContainer img{
    max-height: 2.5em;
}


/* location page */
.locationContainer{
    border-radius: var(--border-radius);
}


/* playlist page */
.playlistContainer{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-content: center;
}

.playlistContainer article{
    flex: 1 1 20rem;
}

.playlistContainer iframe{
    height: 100%;
    width: 100%;
}

input{
    height: 0;
    width: 0;
    visibility: hidden;
}


/* micro interactions */

nav li:hover, aside li:hover{
    box-shadow: 6px 6px var(--text-color-primary);
    transform: scale(1.1);

    transition: transform .3s;
}

footer a:hover{
    transform: scale(1.1);
    transition: transform .3s;
}



/* dark mode */

@media (prefers-color-scheme: dark){
    :root{
        --background-color: #2d3142;
        --text-color-primary: #f5f5f5;
        --text-color-secondary: #bfc0c0;

    }
}


/* responsive */

@media (max-width: 860px){
    nav{
        display: flex;
        height: 100%;
        justify-content: space-evenly;
    }

    aside{
        display: none;
    }

    header{
        width: 100%;
        height: 5em;
    }

    main{
        margin: 7em 2em 0 2em;
        padding-left: 0;
        max-width: 100vw;
    }

    main > section{
        padding-right: 0;
        min-width: 100vw;
        scroll-margin: 0;
        min-width: calc(100vw - 4em);
    }

    footer{
        padding: 1em 2em;
    }

    .playlistContainer{
      flex-direction: column;
      flex-wrap: nowrap;
      overflow-y: scroll;
    }

    .playlistContainer article{
      height: 10em;
      flex: none;
    }
}