<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">

<main>
  <section>
      <h2>My Playlists</h2>
      <p>
          Here are one of my favorite playlists.
      </p>
      <section class="playlistContainer">
        <!-- found at https://biplabsinha345.medium.com/how-to-use-foreach-loop-in-node-js-template-engine-a460273b652 -->
        <% playlists.forEach((playlist)=>{
            %>
            <article>
                <h3><%= playlist.name %></h3>
                <a href="<%= playlist.external_urls.spotify %>"> listen to playlist </a>
                <img src="<%= albumCover %>" alt="album cover">
            </article>
            <%
        }) %>
        </section>
  </section>

</main>

</body>
</html>