<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">

<main>
  <section>
      <h2>My Playlists</h2>
      <p>
          Here are one of my favorite playlists.
      </p>
      <section class="playlistContainer">
        <!-- found at https://biplabsinha345.medium.com/how-to-use-foreach-loop-in-node-js-template-engine-a460273b652 -->
          <section class="playlist">
            <% playlists.forEach(playlist => { %>
              <article>
                <h1><%= playlist.name %></h1>
                <a href="<%= playlist.external_urls.spotify %>">  go to playlist</a>
              </article>
            <% }); %>
            <article>
                <h1>Hallo</h1>
            </article>
          </section>
        </section>
  </section>

</main>

</body>
</html>